<div class="projects">
	<h2>featured projects</h2>
	{% if site.projects %}
	<div class="row viewport row-cols-md-3 mt-3 ml-2">
		<!-- <div class="card card-5"> -->
		{% assign projects = site.projects | reverse %} {% for item in projects %}
		{% if item.importance < 3 %}
		<div class="card mr-2">
			<a href="{{ item.url | relative_url }}">
				{% if item.img %}
				<div class="row-md-6 m-1">
					<img
						class="card-img"
						src="{{ item.img | relative_url }}"
						alt="project thumbnail"
					/>
				</div>
			</a>
			<div class="row-md-6">
				{% else %}
				<div class="row-md-12">
					{% endif %}

					<div class="card-body">
						<a href="{{ item.url | relative_url }}">
							<h3 class="card-title featured-title">{{ item.title }}</h3>
						</a>
						<p class="card-text">{{ item.tag }}</p>
					</div>
				</div>
			</div>

			{% endif %} {% endfor %}
		</div>
	</div>
	<div class="text-right">
		<a
			class="btn btn-sm z-depth-0"
			role="button"
			href="{{ '/projects/' | relative_url }}"
		>
			more project
		</a>
	</div>
	{% endif %}
	<!-- </div> -->
</div>
